.box{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: column;
    width: 100vw;
    background-color: rgba(255, 255, 255, 0.89);
}
.content{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: column;
    margin-left: 370px;
    margin-right: 10%;
}
.about_title{
    padding-top: 45px;
    padding-bottom: 10px;
}
.paragraph{
    display: flex;
    padding-top: 10px;
    text-align: justify;
    text-justify: inter-word;
}

/* background-image: url('../public/david-jorre-9f1gCaLkZBU-unsplash.jpg');
background-position: 100%;
background-size: 100%; */