.footer{
    display:flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: column;
    background-color: rgba(128, 128, 128, 0.315);
    width: 100vw;
    height: 30vh;
}
.footer-links{
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 40%;
    color:black;
    text-decoration:dashed;
}
.footer-links-2{
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 20%;
    color:black;
}
.footer-icon{
    color: black;
}